<%= form_for(@recipe) do |r| %>
  <%= r.label :name %>
  <%= r.text_field :name %><br>

  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
  <%= r.submit %>
<% end %>