<h1><%= @recipe.name.capitalize %></h1>

<h3>Ingredients:</h3>

<ol>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li><br>
  <% end %>
</ol>



<%= button_to "Add Ingredients", new_recipe_ingredient_path(@recipe), method: 'get' %>
<!--%= button_to "Edit Ingredients", edit_recipe_ingredient_path(@recipe), method: 'get' %-->
<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: 'get' %>  
<%= button_to "Delete Recipe", "/recipes/#{@recipe.id}", method: 'delete' %>

<h2>Add a comment:</h2>
<%= form_for([@recipe, @recipe.comments.build]) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>

    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Comments</h2>
<!--% if !@recipe.comments.empty? %-->
  <% @recipe.comments.each do |comment| %>
    
      <p>
        <%= comment.user %>  <%= comment.content %>
      </p>
  <!--% end %-->
<% end %>