<h1><%= @recipe.name.capitalize %></h1>

<h3>Ingredients:</h3>

<ol>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li><br>
  <% end %>
</ol>

<%= button_to "Add Ingredients", new_recipe_ingredient_path(@recipe), method: 'get' %>
<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: 'get' %>  
<%= button_to "Delete Recipe", "/recipes/#{@recipe.id}", method: 'delete' %>

<h2>Add a comment:</h2>
<%= form_for ([@recipe, @comment])do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <%= f.label :content %><br>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<h2>Comments</h2>
  <% @recipe.comments.each do |comment| %>   
    <p>
      <%= comment.user.email %>:</br> <%= comment.content %>
    </p>
<% end %>